body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  display: flex;
  padding: 20px;
  height: 100vh;
  /* Preenche toda a altura da tela */
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 20px;
  /* Define o espaçamento inferior da sidebar */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinha os itens à esquerda */
  height: auto;
  /* Ajusta a altura automaticamente */
}

.checkbox-container {
  width: 100%;
}

.filter-card {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.filter-card:last-child {
  border-bottom: none;
}

.filter-card h2 {
  margin-bottom: 10px;
  font-size: 14px;
  /* Tamanho menor para o título do filtro */
}

.filter-card label {
  display: block;
  margin-bottom: 8px;
  /* Espaçamento menor entre os labels */
  font-size: 12px;
  /* Tamanho menor para o texto dos labels */
}

.carbon-filter {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.15s ease-in-out;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.range-values span {
  font-size: 12px;
  color: #555;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  /* Coloca o espaço restante acima dos botões */
}

.action-button {
  padding: 10px 10px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.action-button:last-child {
  margin-bottom: 0;
  /* Remove margem inferior do último botão */
}

.action-button:hover {
  background-color: #f0f0f0;
}

.graph-container {
  flex: 1;
  /* Ocupa todo o espaço restante */
  display: flex;
  justify-content: center;
  /* Centraliza o conteúdo horizontalmente */
  align-items: center;
  /* Centraliza o conteúdo verticalmente */
  overflow: hidden;
  /* Evita que o gráfico vaze para fora do container */
}

.node {
  fill: #1f78b4;
  /* Cor de preenchimento padrão dos nós */
  stroke: #fff;
  /* Cor do contorno dos nós */
  stroke-width: 2px;
  /* Largura do contorno dos nós */
}

.node.highlighted {
  stroke: #000;
  /* Cor do contorno dos nós quando destacados */
  stroke-width: 3px;
  /* Largura do contorno dos nós quando destacados */
  stroke-dasharray: 4;
  /* Estilo da linha tracejada para nós destacados */
}


.button-sidebar {
  gap: 1px;
  padding: 2px;
}


.button-sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.back-default-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px;
}


.region-sidebar-filters {
  display: flex;
  flex-direction: column;
  gap: 1px;
}



/* Full-width (spans both columns) for certain elements */
.col-span-2 {
  grid-column: span 2;
}

/* Optional styling for each form item */
.mb-4 {
  margin-bottom: 16px;
}